# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
venv/
gemini/.venv/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
FoodAI/nutrition-video-analysis/terraform/docker/venv/
FoodAI/nutrition-video-analysis/terraform/docker/checkpoints/
FoodAI/nutrition-video-analysis/terraform/docker/outputs/
FoodAI/nutrition-video-analysis/terraform/docker/PRODUCTION/
FoodAI/nutrition-video-analysis/terraform/docker/vendor/
FoodAI/nutrition-video-analysis/terraform/docker/**/__pycache__/
FoodAI/nutrition-video-analysis/terraform/docker/test/[0-9]*/
FoodAI/nutrition-video-analysis/terraform/docker/test/gemini_*/
FoodAI/nutrition-video-analysis/terraform/docker/test/compare/
FoodAI/nutrition-video-analysis/terraform/docker/test/__pycache__/
PRODUCTION/
